---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h1 class="text-3xl font-bold">Hey, I'm Fitzy!</h1>
            <p>
                I'm a software developer. I have many a hobby and boy do I switch through them. This blog will not have a defined path or theme. It will have post about all manor of things. From, problems I have managed to solve in my world of software, the Linux tools I have found interesting this week, the path I have taken to control and own my own data, all the way to the wide world of 3D printing.
            </p>
        </main>
    </body>
</html>
