---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Logo from "../../public/logo.svg
---

<header>
    <nav>
        <h2>
            <a href="/" class="logo-link flex items-center justify-center">
                <div class="logo">
                    <Logo />
                </div>
                <!-- <span>{SITE_TITLE}</span> -->
            </a>
        </h2>
        <div class="internal-links">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Posts</HeaderLink>
        </div>
    </nav>
</header>
<style>
    header {
        margin: 0;
        padding: 0 1em;
        background: var(--dark-1);
    }
    h2 {
        margin: 0;
        font-size: 1em;
    }

    h2 a,
    h2 a.active {
        text-decoration: none;
    }

    .logo-link {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.5rem 0;
    }

    .logo {
        height: 1.5rem;
        width: auto;
        display: block;
        margin-top: 0.25rem;
    }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    nav a {
        padding: 1em 0.5em;
        color: var(--light-muted);
        border-bottom: 4px solid transparent;
        text-decoration: none;
    }
    nav a.active {
        text-decoration: none;
        color: var(--light);
        border-bottom-color: var(--accent);
    }
    .social-links,
    .social-links a {
        display: flex;
    }
    @media (max-width: 720px) {
        .social-links {
            display: none;
        }
    }
</style>
